@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
  position: absolute;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #b7b6b6;
  border-radius: 15px;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(220px) scaleY(1) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(220px) scaleY(1) rotate(-360deg);
  }
}

@keyframes counter-orbit {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(254, 82, 0, 0.7);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(254, 82, 0, 0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 3s ease-in-out 1.5s infinite;
}

.custom-dots .slick-dots li button {
  position: absolute;
  inset: 0;
  height: 6px;
  background: #FE5200 !important;
  top: 30;
}

.custom-dots .slick-dots li.slick-active::after {
  width: 100%;
  display: block;
  height: 6px;
  content: "";
  position: absolute;
  inset-inline-start: 0;
  top: 30;
  background: #FE5200;
  opacity: 1;
  border-radius: 5px;
  transition: width var(--dot-duration)ease-out;
}

.custom-dots .slick-list .slick-slide{
  display: flex;
  justify-content: center;
}

.custom-collapse .custom-collapse-item-active{
  outline: 1px solid #FE5200;
  background-color: #FFFAF4 !important;
  border-bottom: none;
  border-radius: 8px 8px 8px 8px !important;
}

.custom-collapse .custom-collapse-content-active{
  background-color: #FFFAF4 !important;
  border: none;
  color: black;
}

.custom-dropdown .custom-dropdown-menu .custom-dropdown-menu-item:hover{
   background-color: #FE5200;
   color: white;
} 

.custom-dropdown .custom-dropdown-menu .custom-dropdown-menu-item{
  margin: 4px;
}